<h1>Seller</h1>

  {{item-tile item=item}}

  <h4>Items</h4>
  <table>
    <tr>
      <th>Item name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Image</th>
      <th>Description</th>
      <th>Sold Out</th>
    </tr>
    {{#each model.items as |item|}}
    <tr>
      <th>{{item.product}}</th>
      <th>{{item.price}}</th>
      <th>{{item.quantity}}</th>
      <th><img src={{item.image}}></th>
      <th>{{item.description}}</th>
      <th>{{item.soldout}}</th>
    </tr>
    {{/each}}
  </table><br>

<button>Add New Item</button>
{{new-item addNewItem='addNewItem'}}
